@import '../vars.scss';

.popular {
  padding: 20px 0 40px 0;

  &__more {
    text-transform: uppercase;
    background-color: $c-white;
    padding: 17px 40px 15px 40px;
    display: flex;
    width: fit-content;
    margin: 35px auto 0;
    border-radius: $b-r-small;
    transition: $def-transition;

    &:hover {
      color: $c-white;
      background-color: $c-accent-blue;
    }
  }
}
