@import '../vars.scss';

.product-item {
  width: 100%;
  height: 385px;
  border: 1px solid $c-d-grey;
  border-radius: $b-r-small;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  @extend %hover-card;

	&.popular {
		width: 270px;
	}

  &__wrapper {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;

    span {
      position: absolute;
      top: -1px;
      left: -1px;
      color: $c-white;
      text-transform: uppercase;
      background-color: $c-accent-blue;
      border-radius: $b-r-small 0 0 0;
      height: 30px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-fav {
      position: absolute;
      top: 12px;
      right: 12px;
      border: none;
      display: inline-block;
      font-size: 2.4rem;
      transition: $def-transition;

      &.active {
        color: $c-accent-blue;
      }

      &:hover {
        color: $c-accent-blue;
      }

      svg {
        display: block;
      }
    }
  }

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
    @extend %card-content-hover;

    &:hover h5 {
      color: $c-accent-blue;
    }

    img {
      width: auto;
      height: 160px;
    }

    h5 {
      font-size: $f-def;
      font-weight: 500;
      max-width: 220px;
      transition: $def-transition;
    }
  }

  &__bottom {
    text-align: center;
    margin-top: auto;
    font-size: $f-huge;
    font-weight: 500;
    transition: $def-transition;

    &-instock {
      height: 46px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      span:nth-child(2) {
        color: $c-d-grey;
        font-size: $f-def;
        text-decoration: line-through;
        display: block;
        margin-top: -4px;
      }
    }

    &-nostock {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 3px;
      margin-bottom: 15px;

      button {
        border: none;
        font-size: $f-small;
        color: $c-accent-blue;
        width: fit-content;
        margin: 0 auto;
        position: relative;
        transition: $def-transition;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          opacity: 0;
          background-color: $c-accent-d-blue;
          transition: $def-transition;
        }

        &:hover {
          color: $c-accent-d-blue;
        }
        &:hover::after {
          opacity: 1;
        }
      }
    }
  }

  &__incart {
    position: absolute;
    right: -1px;
    bottom: -1px;
    padding: 6px 15px;
    border: none;
    display: flex;
    color: $c-white;
    font-size: $f-huge;
    background-color: $c-accent-blue;
    border-radius: $b-r-big 0 $b-r-small 0;
    transition: $def-transition;

    &.active {
      background-color: $c-red;

      &:hover {
        background-color: $c-red;
      }
    }

    &:hover {
      background-color: $c-accent-d-blue;
    }
  }

	&.list {
    max-width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .product-item {
      &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 720px;
				padding: 0 20px;
        margin: 0 auto;
      }

      &__content {
        flex-direction: row;
        margin-top: 0;
        column-gap: 25px;

        img {
          width: 215px;
          height: 130px;
          object-fit: cover;
          will-change: scale;
        }
      }

      &__bottom {
        margin: auto 0;

        &-instock {
          margin-bottom: 0;

          span:nth-child(2) {
            position: unset;
            display: block;
          }
        }

        &-nostock {
          margin-bottom: 0;
        }
      }
    }
  }
}
