@import '../vars.scss';

.sale-banner {
  margin: 40px 0;
  background-color: $c-accent-blue;
  border-radius: $b-r-small;
  height: 150px;
  padding: 0 60px;
  position: relative;

  &__images {
    position: absolute;
    top: 27px;

    &_img {
      will-change: transform;
      transition: $def-transition;

      &.active {
        transform: translate(-5px, 3px);
      }

      &:nth-child(2) {
        transform: scale(-1, 1);
      }

      &.active:nth-child(2) {
        transform: scale(-1, 1) translate(-5px, 3px);
      }
    }
  }

  &__content {
    width: 100%;
		height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 35px;
    position: relative;
    z-index: 10;

    p {
      color: $c-white;
      font-size: $f-biggest;
      font-weight: 500;
      max-width: 215px;

      span {
        font-size: 3.2rem;
        line-height: 100%;
        text-transform: uppercase;
        display: block;
      }
    }
  }

  button {
    border: none;
    font-size: $f-bigger;
    text-transform: uppercase;
    background-color: $c-white;
    padding: 11px 32px 10px 32px;
    border-radius: $b-r-small;
    display: inline-block;
    transition: $def-transition;

    &:hover {
      color: $c-accent-blue;
    }
  }
}
