@import '../vars.scss';

.search {
	padding: 90px 0 50px 0;

	&__tabs {
		display: flex;
		margin-bottom: 20px;

		li {
			button {
				border: none;
				padding: 10px 20px;
				border-radius: $b-r-small;
				transition: $def-transition;

				&:hover,
				&.active {
					background-color: $c-grey;
					text-shadow: $text-sh-def;
				}
			}
		}
	}

	&__form {
		display: flex;
		height: 44px;
		
		&-input {
			width: 100%;
			max-width: 100%;
			background-color: $c-grey;
			border: none;
			padding: 0 20px;
			border-radius: 2px 0 0 2px;

			&::placeholder {
				color: $c-d-grey;
			}
		}

		&-btn {
			border: none;
			background-color: $c-accent-blue;
			border-radius: 0 2px 2px 0;
			padding: 0 20px;
			color: $c-white;
			text-transform: uppercase;
			transition: $def-transition;

			&:hover {
				background-color: $c-accent-d-blue;
			}
		}
	}
}