@import '../../vars.scss';

.filters {
  &__top {
    display: flex;
    justify-content: space-between;
    max-width: 210px;
    margin-bottom: 25px;

    button {
      border: none;
      color: $c-d-grey;
      text-transform: uppercase;
      transition: $def-transition;
      position: relative;

      &:hover:not(.active) {
        color: $c-accent-blue;
      }

      &.active {
        color: $c-main;
        font-weight: 500;
      }

      &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: $c-accent-blue;
      }
    }
  }
}
