@import '../../vars.scss';

.header-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
	margin-bottom: 30px;

  &__labels {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
      font-size: $f-small;
      font-weight: 300;
      padding: 3px 7px 2px 7px;
      background-color: $c-grey;
      border-radius: $b-r-small;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;

    &-sort {		
      position: relative;

      &--active {
				min-width: 190px;
        padding: 5px 10px 6px 15px;
        border: 1px solid $c-d-grey;
        border-radius: $b-r-small;
				display: block;
        position: relative;
        z-index: 10;
				display: flex;
				justify-content: space-between;
				align-items: center;
        transition: $def-transition;

        &:hover {
          border-color: $c-accent-blue;
        }

        svg {
          transform: rotate(90deg);
          cursor: pointer;
        }
      }

      ul {
        position: absolute;
        left: 0;
        right: 0;
        top: 32px;
        z-index: 5;
        display: flex;
        flex-direction: column;
        border: 1px solid $c-d-grey;
        border-top: none;
        border-radius: 0 0 $b-r-small $b-r-small;
        background-color: $c-grey;
        padding: 6px 0;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transition: $def-transition;

        &.active {
          opacity: 1;
          pointer-events: unset;
          user-select: unset;
        }

        li {
          button {
            width: 100%;
            padding: 10px 0 10px 15px;
            border: none;
            text-align: left;					
            transition: $def-transition;

            &:hover {
              color: $c-white;
              background-color: $c-accent-blue;
            }
          }
        }
      }
    }

    &-grids {
      display: flex;
      align-items: center;
      gap: 12px;

      li {
        button {
          display: inherit;
          font-size: $f-big;
          border: none;
					color: $c-d-grey;
          transition: $def-transition;

          &:hover {
            color: $c-accent-blue;
          }

					&.active {
						color: $c-accent-blue;
					}
        }
      }
    }
  }
}
