@import './vars.scss';

html {
  font-size: 62.5%;
}

body {
	font-family: 'Rubik', sans-serif;
	color: $c-main;
  font-size: $f-def;
	font-weight: 400;
  background: $c-main-gradient;
}

.app {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
