$c-white: #fff;
$c-white-op: rgba(255, 255, 255, .7);
$c-main: #092838;
$c-main-gradient: linear-gradient(180deg, #ecf5fc 10%, #dce7f1 100%);
$c-grey: #e7ebf3;
$c-d-grey: #a5acbd;
$c-accent-blue: #2889b9;
$c-accent-d-blue: #207199;
$c-red: #df5656;
$c-brown: #806767;

$f-tiny: 1.2rem;
$f-small: 1.4rem;
$f-def: 1.6rem;
$f-big: 1.8rem;
$f-huge: 2.2rem;

$b-r-small: 2px;
$b-r-max: 999px;

$text-sh-def: 0 0 0 $c-main;

$def-transition: all .15s ease;