@import '../../vars.scss';

.page-base {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(260px, 1fr));
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 25px;

    h4 {
      font-size: $f-biggest;
    }
  }
}
